::-webkit-scrollbar {
    display: none;
}
#text::-webkit-scrollbar {
    width: 10px;
    height: 16px;
    background-color: white;
}
#text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px gray;
    border-radius: 10px;
    background-color: white;
}
#text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px gray;
    background-color: #97d47c;
    width: 5px;
    height: 5px;
}
.navbar .navbar-default {
    float: none;
}
#text-div {
    -webkit-box-shadow: 0 0 20px #dddddd;
    border: 0 solid white;
    padding: 5px;
    border-radius: 5px;
    background-image: url("../images/back2.jpg");
    background-size: 100%;
    margin-bottom: 10px;
    //overflow: scroll;
}
#text {
    border: 0 solid white;
}

.nograg {
    -webkit-app-region: no-drag;
}
.close {
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 10;
    -webkit-app-region: no-drag;
    opacity: 1;
}
.toorbar {
    height: 34px;
    width: 100%;
    position: fixed;
    background-color: #efefef;
    top: 0px;
    left: 0px;
    -webkit-app-region: drag;
    text-align: right;
    z-index: -1;
}
